# feature extraction

* the mapping from textual data to real to real valuesd vection vectors is called feature extraction

# Bag Of Words(BOW): list of unique worda in the text corpus


# Term Frequency-Inverse Document Frequency(TF-IDF):
* to count the number off times each word appears in a document

* Term Frequency(TF) = no.of times term t appears in a document / no.of terms in the document

* Inverse Document Frequency (IDF) = log(N/n)
where N is the number of documents and n is the number of documents a term t has appeared in 

* The IDF value of a rara word is high , where as the IDF of a frequent word is low

 TF-IDF value of a term = TF x IDF

In [2]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)

In [4]:
# imporing the libs
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.corpus import stopwords

from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:


stopwords.words('english')

LookupError: ignored

In [11]:
!nltk.download("stopwords")

/bin/bash: -c: line 0: syntax error near unexpected token `"stopwords"'
/bin/bash: -c: line 0: `nltk.download("stopwords")'

In [12]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [13]:
STOPWORDS

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

# data pre-processing

In [16]:
# loading the dataset to a padas data

df= pd.read_csv("/content/spam_ham_dataset.csv")

In [17]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [18]:
df.shape

(5171, 4)

In [20]:
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

TF-IDF

In [21]:
# convert the textual data to feature vectors

In [22]:
vect = TfidfVectorizer()

In [37]:
x=df.text
print(x)

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [32]:
vect.fit(x)

TfidfVectorizer()

In [33]:
Z= vect.transform(x)

In [35]:
print(Z)

  (0, 50176)	0.1629242993857767
  (0, 49945)	0.11250960355761934
  (0, 47878)	0.1127061979086506
  (0, 46831)	0.09529586623749796
  (0, 45370)	0.09310546016987066
  (0, 44989)	0.1254374389962573
  (0, 44867)	0.04682884744091318
  (0, 43562)	0.034262169926970454
  (0, 38656)	0.17796819185079973
  (0, 37475)	0.19186030628425912
  (0, 37231)	0.16407607741734034
  (0, 36753)	0.19186030628425912
  (0, 36688)	0.20000345280769674
  (0, 36319)	0.21980965436197308
  (0, 36059)	0.06866278034437147
  (0, 34492)	0.26056738580362104
  (0, 33928)	0.05726390041056167
  (0, 33556)	0.21431596723855653
  (0, 33215)	0.1407694495817194
  (0, 32621)	0.14893792857945487
  (0, 31723)	0.14259719863756504
  (0, 31036)	0.19120767379137113
  (0, 31029)	0.09934120417878212
  (0, 26371)	0.11963991326277841
  (0, 21765)	0.1938962816140715
  :	:
  (5170, 14270)	0.041281911031113484
  (5170, 13893)	0.071554859205658
  (5170, 13890)	0.05323313200939796
  (5170, 13618)	0.06092839769879048
  (5170, 13615)	0.10978406078889205
  (5170, 13499)	0.0639688870209599
  (5170, 13301)	0.14987524247072498
  (5170, 13260)	0.07708148245779779
  (5170, 13181)	0.05054753242459703
  (5170, 12700)	0.04477719719298465
  (5170, 12517)	0.28801905358659197
  (5170, 11993)	0.1041568485254882
  (5170, 8646)	0.06728756888074798
  (5170, 8488)	0.045315236344194126
  (5170, 8175)	0.3798038017730709
  (5170, 8172)	0.19308263816558618
  (5170, 7560)	0.061229918888098055
  (5170, 7243)	0.054690412702800686
  (5170, 6843)	0.06497451506909942
  (5170, 6694)	0.028996327315648492
  (5170, 6435)	0.09451552058901223
  (5170, 6375)	0.032597769363615275
  (5170, 5903)	0.0692286891828573
  (5170, 4983)	0.3217586137937266
  (5170, 268)	0.030274686824639237