# print function

In [1]:
# the print functio which can use to print something / information to the user 
print("learning meachine learning")

learning meachine learning

# concatnate

In [3]:
# concatenate is nothing but the join of string 
print("learning meachine learning" + " projects")

learning meachine learning projects

# basic data type
int -> 1,2,3,4,12313,433

float ->13.222,23424.2222

str ->"name","a","44321234"

# type function

In [4]:
# type function is nothing but the to get the data type of the following one 
type(9)

int

In [5]:
type("karthik")

str

In [6]:
type(23.3)

float

# constants & variable

In [8]:
# constant is that which can not change the it value

In [10]:
# variable is that can change the it's value (or) it is also use to store the some information

In [11]:
super_hero = "iron man"
super_hero

'iron man'

In [12]:
hero1,hero2,hero3 = "iron man","captain america", "batman"

In [15]:
print(hero1)
print(hero2)
print(hero3)

iron man
captain america
batman

In [16]:
x=y=z=99

In [17]:
print(x)
print(y)
print(z)

99
99
99

# intput function

In [18]:
# intout is a function which can take the information from the user 
number_1=input("the 1st num: ")
number_2=input("the 2nd num: ")
print(number_1 +number_2)

the 1st num: 22
the 2nd num: 33
2233

In [20]:
#what was the wrong in it . because if you use the intput function be default it will take only in str format  to overcome it we need to use int function

In [21]:
number_1 = int(input("the 1st num: "))
number_2 = int(input("the 2nd num: "))
print(number_1+number_2)

the 1st num: 33
the 2nd num: 22
55

# chaning the data type

In [24]:
num= 3
print(type(num))
print(type(float(num)))

<class 'int'>
<class 'float'>