type of abiect in python
1) immutable object
2) mutable object

1) immutable object
int
float
string
bool
tuple

2) mutable object
list
set
dictionary

# list

In [1]:
# list should be included in the square bracket  []
my_list = [1,2,3,4,5]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [2]:
# list can allow the multiple datatype
my_list =[1,2,3.33,"karthik",False]
print(my_list)

[1, 2, 3.33, 'karthik', False]

In [4]:
# list are mutable ->changeable
my_list.append(5)
print(my_list)

[1, 2, 3.33, 'karthik', False, 5]

In [5]:
# printing the element of list using their index
print(my_list[2])

3.33

In [6]:
# list allows the duplicate values
list_1=[1,2,3,4,4,5,6,22,22,1]
print(list_1)

[1, 2, 3, 4, 4, 5, 6, 22, 22, 1]

In [7]:
#to find the no.of element in the list
print(len(list_1))

10

In [8]:
# initiating an empty list
list_2=[]
print(list_2)

[]

In [9]:
# delete an item in list
list_2=[2,3,4.444,'english',True,6]
print(list_2)
del list_2[3]
print(list_2)

[2, 3, 4.444, 'english', True, 6]
[2, 3, 4.444, True, 6]

In [10]:
# joining two list
list_3 =[1,2,3,4,5]
list_4=[6,7,8,9,10]
list_5=list_3 + list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# tuple

In [11]:
tuple_1=(2,3,4,5)
print(tuple_1)
print(type(tuple_1))

(2, 3, 4, 5)
<class 'tuple'>

In [12]:
#tuple allows multiple datatype
tuple_2=(1,2.2,44,"mechine learning",False )
print(tuple_2)

(1, 2.2, 44, 'mechine learning', False)

In [13]:
# converting a list a tuple
my_list =[3,4,5,6]
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [14]:
# printing element using the index
print(my_tuple[0])

3

In [15]:
# tuple are immutable -> unchangeable 
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

# set

In [16]:
# set -> curly brackets { }

In [17]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [18]:
# set doesnot allow the duplicate value 
set_2 ={1,2,3,4,4,5,6,6}
print(set_2)

{1, 2, 3, 4, 5, 6}

In [19]:
# convert a list to set
list_5 = [4,5,6,7,8]
x=set(list_5)
print(x)

{4, 5, 6, 7, 8}

# dictionary

In [20]:
# key - values pair
my_dict={"name":"karthik",
        "age":21,
        "country":"india"}
print(my_dict)

{'name': 'karthik', 'age': 21, 'country': 'india'}

In [21]:
# calling the element by using key
print(my_dict["name"])

karthik