# operators in python|

arithmetic operator
assignment operator
comparison operator
logical operator
identity operator
membership operator

In [2]:
# arithmetic operator

num_1 =20
num_2 =10

In [4]:
#additional 
sum = num_1 +num_2
print(sum)

# subtraction 
diff = num_1 - num_2
print(diff)

# multiplication 
pro = num_1 * num_2
print(pro)

# division 
duo = num_1 /num_2
print(duo)

#exponent 
emp = num_1 ** num_2
print(emp)

# moduls
mod = num_1 % num_2
print(mod)

30
10
200
2.0
10240000000000
0

# assignment operator

In [5]:
a=5
print(a)

5

In [6]:
a =5 
a+=5  # a=a+5
print(a)

10

In [8]:
b=5
b-=2 # b=b-2
print(b)

3

# comparison operator

In [10]:
a=5
b=10

print(a==b)  # equal
print(a!=b)  # not equal
print(a>b)   # greater
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

# logical operator

and 
or
not

In [12]:
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

# identity operator

is -> equal
is not ->not equal

In [13]:
x=5
y=10
print(x is y)

False

In [14]:
x=5
y=10
print(x is not y)

True

# membership operator

in 
not in

In [16]:
a=5
b=10
c=[1,2,3,4,5,6]
print(a in c)
print(b in c)

True
False

In [17]:
a=5
b=10
c=[1,2,3,4,5,6]
print(a not in c)
print(b not in c)

False
True