In [5]:
laptop_1 = int(input("enter the price of the laptop_1  "))
laptop_2 = int(input("enter the price of the laptop_2  "))
laptop_3 = int(input("enter the price of the laptop_3  "))
laptop_4 = int(input("enter the price of the laptop_4  "))

enter the price of the laptop_1  22
enter the price of the laptop_2  33
enter the price of the laptop_3  4
enter the price of the laptop_4  555

In [7]:
# for loop
for i in range(5):
  print(int(input("enter the price of the laptop")))

enter the price of the laptop22
22
enter the price of the laptop55
55
enter the price of the laptop88
88
enter the price of the laptop99
99
enter the price of the laptop99
99

In [10]:
number =[10,20,30,40,50]
for i in number:
  print(i)

10
20
30
40
50

In [11]:
# or 
for i in range(len(number)):
  print(number[i])

10
20
30
40
50

# while

In [12]:
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9