SVM (Support Vector Machine) is a machine learning algorithm that is widely used for classification and regression problems. It works by finding the optimal boundary that separates the data into different classes. The boundary is determined by a set of support vectors, which are the closest points to the boundary from each class.

Gradient descent is an optimization algorithm that is used to find the minimum of a function. In machine learning, it is used to minimize the cost function, which measures the difference between the predicted output and the actual output. The gradient descent algorithm starts with an initial set of parameters and iteratively updates them in the direction of the negative gradient of the cost function until the minimum is reached.

The learning rate is a hyperparameter that determines how much the parameters are updated at each iteration of the gradient descent algorithm. A higher learning rate means that the parameters are updated more aggressively, while a lower learning rate means that the parameters are updated more slowly. The learning rate is an important hyperparameter to tune, as a too high or too low learning rate can cause the algorithm to converge too slowly or to overshoot the minimum.

In SVM, the gradient descent algorithm is used to find the optimal values of the parameters that determine the location and orientation of the separating boundary. The cost function in SVM is typically a convex function, which means that there is only one global minimum. Therefore, the gradient descent algorithm is guaranteed to converge to the optimal solution.

The learning rate in SVM determines how fast the algorithm converges to the optimal solution. A too high learning rate can cause the algorithm to overshoot the minimum and diverge, while a too low learning rate can cause the algorithm to converge too slowly. The learning rate is typically chosen through a grid search, where different values of the learning rate are tried and the one that gives the best performance on a validation set is chosen.

In summary, SVM is a powerful algorithm that uses the gradient descent algorithm to find the optimal boundary that separates the data into different classes. The learning rate is an important hyperparameter to tune, as it determines how fast the algorithm converges to the optimal solution. A too high or too low learning rate can cause the algorithm to converge too slowly or to overshoot the minimum.

In [ ]:
#importing numpy as np
import numpy as np

Support vector machine (svm) - classifer

In [ ]:
from numpy.lib import index_tricks
class svm_classifier():

  #initiating the hyperparameter
  def __init__(self,learing_rate, no_of_iteration, lambda_parmeter):
    self.learing_rate= learing_rate
    self.no_of_iteration = no_of_iteration
    self.lambda_parmeter = lambda_parmeter
  #fitting te dataset to svm classifier
  def fit(self,X,Y):
    # m-> number of data points ->no of rows
    # n-> number of input fearure ->no of columns
    self.m, self.n = X.shape
    #intiating the weigth and bias value
    self.w = np.zeros(self.n)
    self.b= 0
    self.X=X
    self.Y = Y
    # implementing Gradient Descent
    for  i in range(self.no_of_iteration):
      self.update_weights()
  # fuction for updating the weigth and bias values
  def update_weights(self,):
    # label encoding
    y_label = np.where(self.Y <=0,-1,1 )
    #gradient(dw,db)
    for index, x_i in enumerate(self.X):
      condition = y_label[index] * (np.dot(x_i,self.w)- self.b)>=1
      if condition == True:
        dw=2*self.lambda_parmeter * self.w
        db=0
      else:
        dw= 2 * self.lambda_parmeter * self.w - np.dot(x_i,y_label[index])
        db= y_label[index]
      self.w=self.w -self.learing_rate*dw
      self.b=self.b - self.learing_rate*db
  # predict the label for a given input value
  def predict(self,X):
    output = np.dot(X, self.w) -self.b

    predicted_label = np.sign(output)

    y_hat = np.where(predicted_label <= -1, 0,1)

    return y_hat

In [ ]:
# about the enumerate methed
my_list=[12,99,23,45,576]

for i, my_list_i in enumerate(my_list):
  print(i, my_list_i)

0 12
1 99
2 23
3 45
4 576

importing the dependencies

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data collection & processing

In [ ]:
#loading the dataset to pandas dataframe
df=pd.read_csv("/content/diabetes.csv")

In [ ]:
# print the top 5 rows
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# print the bottom 5 rows
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
# no of the rows and the columns
df.shape

(768, 9)

In [ ]:
# getting the statistical measures of the dataset
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> non-diabetic

1 ->diabetic

In [ ]:
freatue = df.drop(columns="Outcome",axis=1)
target = df["Outcome"]

data standardization

In [ ]:
scaler =StandardScaler()

In [ ]:
scaler.fit(freatue)

StandardScaler()

In [ ]:
standardize_data = scaler.transform(freatue)

In [ ]:
standardize_data

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [ ]:
freatue = standardize_data
target = df["Outcome"]

train test split

In [ ]:
x_train,x_test, y_train,y_test = train_test_split(freatue,target, random_state=2,test_size=0.2)

In [ ]:
print(freatue.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model 

support vector machine classifier

In [ ]:
classifier = svm_classifier(learing_rate = 0.01, no_of_iteration=1000, lambda_parmeter=0.01 )

In [ ]:
# training the svm classifier with training data
classifier.fit(x_train,y_train)

model evaluation

accuaccuracy score

In [ ]:
#accuaccuracy  on training data
x_train_prdiction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(y_train,x_train_prdiction)
print("accuracy score on training data : " ,training_data_accuracy  )

accuracy score on training data :  0.7768729641693811

In [ ]:
#accuaccuracy  on test data
x_test_prdiction = classifier.predict(x_test)
test_data_accuracy = accuracy_score(y_test,x_test_prdiction)
print("accuracy score on test data : " ,test_data_accuracy  )

accuracy score on test data :  0.7467532467532467

building the pradictive system

In [ ]:
input_data = (6,150,75,20,176,26.9,0.567,51)
# change the input data to numpy array
input_data_as_array_data = np.asarray(input_data)
# reshape the array
input_data_reshape = input_data_as_array_data.reshape(1,-1)
# standardizing the input data
std_data=scaler.transform(input_data_reshape)
#print(std_data)
predicton=classifier.predict(std_data)
# print(predicton)
if predicton[0] == 1:
  print("the person have diabetic")
else:
  print("the person is not have diabetic")

the person have diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(